@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Noto+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Code+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  caret-color: transparent;
}

html {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background-color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-attachment: fixed;
  color: rgb(33, 33, 33);
}

.link, a {
  text-decoration: none;
  color: rgb(33, 33, 33);
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

button {
  cursor: pointer;
}

.page-section-title {
  font-size: 2.4rem;
  margin: 3rem 0 3rem 0;
}

.visible {
  opacity: 1;
}

h2 {
  font-size: 2rem;
}

.round {
  border-radius: 50%;
}

.home-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  min-height: 100vh;
}
.home-container .home-header {
  width: 100vw;
  height: 40rem;
  background-image: url("../assets/home/home-header-mobile.jpg");
  background-position: top;
  background-size: cover;
}
.home-container .home-content {
  width: 100vw;
  height: 100%;
  background-image: url("../assets/home/abstract-pattern.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1.5rem 2rem 1rem;
}
.home-container .home-content h1 {
  color: rgb(15, 15, 35);
  font-family: Roboto;
  font-weight: bold;
  font-size: 2.5rem;
  font-style: italic;
  text-transform: uppercase;
}
.home-container .home-content .subtitle {
  color: rgb(15, 15, 35);
  font-family: Poppins;
  font-weight: 300;
  font-size: 2rem;
  font-style: italic;
}
.home-container .home-content .home-description {
  color: rgb(15, 15, 35);
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 3.2rem;
  max-width: 80%;
  text-align: center;
}
.home-container .home-content .portrait-photo {
  width: 17rem;
  height: 17rem;
  background-image: url("../assets/shared/profil.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 25px 38px -6px rgba(5, 2, 38, 0.7);
}
.home-container .language-icons {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.home-container .language-icons .language-icon {
  width: 20%;
  height: 20%;
  max-width: 8rem;
}
.home-container .icon-links-container {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem 0 2rem 0;
}
.home-container .icon-links-container .icon-link {
  width: 30rem;
  height: 5.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: rgb(15, 15, 35);
  font-family: Source Code pro;
  font-weight: 400;
  font-size: 1.8rem;
  font-style: normal;
  border: 2px solid rgb(25, 25, 45);
  border-radius: 1.2rem;
}
.home-container .icon-links-container .icon-link img {
  width: 3.8rem;
  height: 3.8rem;
}

@media only screen and (min-width: 650px) {
  .home-container .home-header {
    width: 100%;
    height: 50rem;
    background-image: url("../assets/home/home-header-tablet.jpg");
    background-position: bottom;
    background-size: cover;
  }
  .home-container .home-content h1 {
    color: rgb(15, 15, 35);
    font-family: Roboto;
    font-weight: bold;
    font-size: 3rem;
    font-style: italic;
  }
  .home-container .home-content .subtitle {
    color: rgb(15, 15, 35);
    font-family: Poppins;
    font-weight: 300;
    font-size: 2.5rem;
    font-style: italic;
  }
  .home-container .home-content .home-description {
    color: rgb(15, 15, 35);
    font-family: Poppins;
    font-weight: 400;
    font-size: 2.4rem;
    font-style: normal;
    max-width: 90%;
    line-height: 3.8rem;
  }
  .home-container .home-content .portrait-photo {
    width: 25rem;
    height: 25rem;
  }
}
@media only screen and (min-width: 1025px) {
  .home-container {
    width: 100vw;
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    flex-wrap: wrap;
  }
  .home-container .home-header {
    width: 40%;
    height: 100vh;
    background-image: url("../assets/home/home-header-desktop.png");
    background-position: top;
    background-size: cover;
  }
  .home-container .home-content {
    width: 60%;
    height: 100vh;
    background-image: url("../assets/home/abstract-pattern-desktop.jpg");
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 8rem 0 0 0;
  }
  .home-container .home-content .subtitle {
    font-size: 3.2rem;
  }
  .home-container .home-content h1 {
    font-size: 3.8rem;
  }
  .home-container .home-content .home-description {
    font-size: 2.2rem;
    width: 70%;
  }
  .home-container .home-content .portrait-photo {
    width: 30rem;
    height: 30rem;
  }
  .home-container .language-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 3rem 0 3rem 0;
    flex-wrap: wrap;
  }
  .home-container .language-icons .language-icon {
    width: 100%;
    height: auto;
    min-width: 10rem;
  }
  .home-container .icon-links-container {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 0 2rem 0;
  }
  .home-container .icon-links-container .icon-link {
    cursor: pointer;
    transition: all 0.2s linear;
    justify-content: space-between;
    padding: 0 3rem 0 3rem;
  }
  .home-container .icon-links-container .icon-link img {
    cursor: pointer;
  }
  .home-container .icon-links-container .icon-link:hover {
    background-color: rgba(15, 15, 35, 0.9);
    color: white;
  }
}
@media only screen and (max-width: 1500px) and (min-width: 1025px) {
  .home-container .home-content {
    gap: 2.5rem;
  }
  .home-container .home-content .subtitle {
    font-size: 2.4rem;
  }
  .home-container .home-content h1 {
    font-size: 2.6rem;
  }
  .home-container .home-content .home-description {
    font-size: 1.4rem;
    line-height: 2.8rem;
    width: 75%;
  }
  .home-container .home-content .portrait-photo {
    width: 20rem;
    height: 20rem;
  }
}
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding-top: 8rem;
}
.projects-container header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 0 2rem 0 2rem;
}
.projects-container header .page-title {
  color: rgb(25, 25, 45);
  font-family: Roboto;
  font-weight: 400;
  font-size: 2.5rem;
  font-style: normal;
}
.projects-container header .header-description {
  color: rgb(25, 25, 45);
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 2.6rem;
}
.projects-container .selector-container {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.projects-container .selector-container .selector-box {
  width: 20rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  border: 1px solid rgba(25, 25, 45, 0.8);
  border-radius: 0.6rem;
  padding: 0 0.5rem 0 1rem;
}
.projects-container .selector-container .selector-box .selected-value {
  color: rgb(25, 25, 45);
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: italic;
}
.projects-container .selector-container .selector-box .selector-arrow {
  width: 3.5rem;
  height: 3.5rem;
  transition: all 0.4s ease;
}
.projects-container .selector-container .selector-box .rotate {
  transform: rotate(180deg);
}
.projects-container .selector-container .values {
  width: 20rem;
  height: 20rem;
  margin-top: 0.5rem;
  border: 1px solid rgba(25, 25, 45, 0.8);
  border-radius: 0.6rem;
  opacity: 0;
  transition: opacity 0.3s linear;
  background-color: white;
}
.projects-container .selector-container .values .value {
  width: 100%;
  height: 4rem;
  color: rgb(25, 25, 45);
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  border-bottom: 1px solid rgba(25, 25, 45, 0.1);
  padding: 1rem;
}
.projects-container .selector-container .expand {
  opacity: 1;
}
.projects-container .header-image {
  width: 40%;
  height: auto;
  z-index: -1;
}
.projects-container .projects-section {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
}
.projects-container .projects-section h2 {
  color: rgb(25, 25, 45);
  font-family: Roboto;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 1rem 2rem;
}
.projects-container .projects-section .project {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
}
.projects-container .projects-section .project .name {
  color: rgb(25, 25, 45);
  font-family: Roboto;
  font-weight: 400;
  font-size: 2.2rem;
  font-style: normal;
}
.projects-container .projects-section .project .label {
  color: rgb(25, 25, 45);
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.8rem;
  font-style: normal;
}
.projects-container .projects-section .project .description {
  color: rgb(25, 25, 45);
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 2.2rem;
}
.projects-container .projects-section .project .project-image {
  width: 100%;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.8rem;
}
.projects-container .projects-section .project .link-container {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.projects-container .projects-section .project .link-container p {
  color: rgb(25, 25, 45);
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.5rem;
  font-style: normal;
  text-transform: uppercase;
}
.projects-container .projects-section .project .link-container .project-link {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.3rem;
  font-style: normal;
  min-width: 14rem;
  border-radius: 0.6rem;
  background-color: rgba(25, 25, 45, 0.8);
}
.projects-container .projects-section .project .link-container .project-link img {
  width: 3.2rem;
}
.projects-container .projects-section .project .link-container .deploy {
  color: white;
  font-family: Source Code Pro;
  font-weight: 400;
  font-size: 1.3rem;
  font-style: normal;
  background-color: transparent;
  color: rgb(25, 25, 45);
  border: 2px solid rgb(25, 25, 45);
}

@media only screen and (min-width: 650px) {
  .projects-container {
    min-height: 100vh;
  }
  .projects-container header {
    padding: 1rem 4rem 0 4rem;
  }
  .projects-container header .page-title {
    font-size: 3rem;
  }
  .projects-container header .header-description {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .projects-container .header-image {
    display: none;
  }
  .projects-container .selector-container {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 4rem 0 4rem;
  }
  .projects-container .selector-container .selector-box {
    width: 48%;
    height: 4rem;
  }
  .projects-container .selector-container .selector-box .selected-value {
    font-size: 2rem;
  }
  .projects-container .selector-container .values {
    margin: 0;
    width: 50%;
  }
  .projects-container .projects-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0 2rem 0 2rem;
    margin-top: 15rem;
  }
  .projects-container .projects-section h2 {
    font-size: 2.5rem;
    margin: 0 0 0 2rem;
    width: 100%;
  }
  .projects-container .projects-section .project {
    width: 49%;
    height: 100%;
    justify-content: flex-start;
    padding: 2rem;
    border-radius: 0.4rem;
  }
  .projects-container .projects-section .project .name {
    font-size: 2rem;
  }
  .projects-container .projects-section .project .label {
    font-size: 2rem;
  }
  .projects-container .projects-section .project .description {
    font-size: 1.8rem;
    line-height: 2.6rem;
    min-height: 12rem;
  }
}
@media only screen and (min-width: 1025px) {
  .projects-container {
    background-color: white;
    max-width: 130rem;
  }
  .projects-container header {
    padding: 2rem 3.8rem 0 3.8rem;
  }
  .projects-container header .header-description {
    font-size: 2.4rem;
    line-height: 3.2rem;
    max-width: 80%;
  }
  .projects-container .selector-container {
    width: 100%;
    height: 5rem;
  }
  .projects-container .selector-container .selector-box {
    width: 30rem;
    height: 5rem;
  }
  .projects-container .selector-container .selector-box .selector-arrow {
    cursor: pointer;
  }
  .projects-container .selector-container .values {
    width: 30rem;
    height: 25rem;
  }
  .projects-container .selector-container .values .value {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    cursor: pointer;
    font-size: 2rem;
  }
  .projects-container .selector-container .values .value:hover {
    background-color: rgba(25, 25, 45, 0.8);
    color: white;
  }
  .projects-container .projects-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 0 1rem 0 1rem;
    margin-top: 20rem;
    padding: 0;
  }
  .projects-container .projects-section h2 {
    padding-left: 3.8rem;
    margin: 0;
  }
  .projects-container .projects-section .project {
    width: 45%;
    border-radius: 0.6rem;
  }
  .projects-container .projects-section .project .description {
    min-height: 15rem;
  }
  .projects-container .projects-section .project .project-image {
    width: 100%;
    height: 38rem;
  }
  .projects-container .projects-section .project .link-container {
    cursor: pointer;
  }
  .projects-container .projects-section .project .link-container p {
    font-size: 2rem;
  }
  .projects-container .projects-section .project .link-container .project-link {
    color: white;
    font-family: Poppins;
    font-weight: 300;
    font-size: 1.6rem;
    font-style: normal;
    transition: all 0.1s linear;
  }
  .projects-container .projects-section .project .link-container .project-link img {
    cursor: pointer;
  }
  .projects-container .projects-section .project .link-container .project-link:hover {
    background: transparent;
    border: 3px solid rgb(25, 25, 45);
    color: rgb(25, 25, 45);
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.6rem;
    font-style: normal;
  }
  .projects-container .projects-section .project .link-container .deploy {
    color: rgb(25, 25, 45);
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.6rem;
    font-style: normal;
  }
  .projects-container .projects-section .project .link-container .deploy:hover {
    background: rgb(25, 25, 45);
    border: none;
    color: white;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.6rem;
    font-style: normal;
  }
}
.contact-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: 8rem;
}
.contact-container header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 0 2rem 0 2rem;
}
.contact-container header .page-title {
  color: rgb(25, 25, 45);
  font-family: Roboto;
  font-weight: 400;
  font-size: 2.5rem;
  font-style: normal;
}
.contact-container header .header-description {
  color: rgb(25, 25, 45);
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 2.6rem;
}
.contact-container .contacts-btn-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.contact-container .contacts-btn-container .contact-btn {
  width: 30rem;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 0 2rem 0 2rem;
  color: rgb(25, 25, 45);
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.8rem;
  font-style: normal;
  border: 2px solid rgb(25, 25, 45);
  border-radius: 0.6rem;
}
.contact-container .contacts-btn-container .contact-btn img {
  width: 4rem;
  height: 4rem;
}
.contact-container .contact-illustration {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 650px) {
  .contact-container {
    min-height: 100vh;
  }
  .contact-container header {
    padding: 1rem 4rem 0 4rem;
  }
  .contact-container header .page-title {
    font-size: 3rem;
  }
  .contact-container header .header-description {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .contact-container .contacts-btn-container {
    gap: 4rem;
  }
  .contact-container .contacts-btn-container .contact-btn {
    width: 40rem;
    height: 7rem;
    padding: 0 4rem 0 4rem;
    color: rgb(25, 25, 45);
    font-family: Roboto;
    font-weight: 400;
    font-size: 2.2rem;
    font-style: normal;
    border: 3px solid rgb(25, 25, 45);
    border-radius: 1rem;
  }
  .contact-container .contacts-btn-container .contact-btn img {
    width: 5rem;
    height: 5rem;
  }
  .contact-container .contact-illustration {
    width: 60rem;
    height: auto;
  }
}
@media only screen and (min-width: 1025px) {
  .contact-container {
    background-color: white;
    max-width: 140rem;
  }
  .contact-container header {
    padding: 2rem 3.8rem 0 3.8rem;
  }
  .contact-container header .header-description {
    font-size: 2.4rem;
    line-height: 3.2rem;
    max-width: 80%;
  }
  .contact-container .contacts-btn-container {
    gap: 3rem;
  }
  .contact-container .contacts-btn-container .contact-btn {
    width: 36rem;
    height: 6rem;
    padding: 0 3.2rem 0 3.2rem;
    color: rgb(25, 25, 45);
    font-family: Roboto;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    border: 3px solid rgb(25, 25, 45);
    border-radius: 1rem;
    cursor: pointer;
  }
  .contact-container .contacts-btn-container .contact-btn img {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
  }
  .contact-container .contacts-btn-container .contact-btn:hover {
    background-color: rgb(25, 25, 45);
    color: white;
  }
  .contact-container .contact-illustration {
    width: 45rem;
    height: auto;
  }
}
.resume-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: 8rem;
}
.resume-container header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 0 2rem 0 2rem;
}
.resume-container header .page-title {
  color: rgb(25, 25, 45);
  font-family: Roboto;
  font-weight: 400;
  font-size: 2.5rem;
  font-style: normal;
}
.resume-container header .header-description {
  color: rgb(25, 25, 45);
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 2.6rem;
}
.resume-container .download-btn {
  width: 30rem;
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 1rem 2rem 1rem 2rem;
  color: rgb(25, 25, 45);
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.8rem;
  font-style: normal;
  border: 2px solid rgb(25, 25, 45);
  border-radius: 0.6rem;
  background: transparent;
}
.resume-container .resume-illustration {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 650px) {
  .resume-container {
    min-height: 100vh;
  }
  .resume-container header {
    padding: 1rem 4rem 0 4rem;
  }
  .resume-container header .page-title {
    font-size: 3rem;
  }
  .resume-container header .header-description {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .resume-container .download-btn {
    width: 35rem;
    height: 7rem;
    padding: 2rem 3rem 2rem 3rem;
    color: rgb(25, 25, 45);
    font-family: Roboto;
    font-weight: 400;
    font-size: 2.2rem;
    font-style: normal;
    border: 3px solid rgb(25, 25, 45);
    border-radius: 1rem;
  }
  .resume-container .resume-illustration {
    width: 60rem;
    height: auto;
  }
}
@media only screen and (min-width: 1025px) {
  .resume-container {
    max-width: 140rem;
    background-color: white;
  }
  .resume-container header {
    padding: 2rem 3.8rem 0 3.8rem;
  }
  .resume-container header .header-description {
    font-size: 2.4rem;
    line-height: 3.2rem;
    max-width: 80%;
  }
  .resume-container .download-btn {
    width: 36rem;
    height: 6rem;
    padding: 1.2rem 3.2rem 1.2rem 3.2rem;
    color: rgb(25, 25, 45);
    font-family: Roboto;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
    border: 2px solid rgb(25, 25, 45);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  .resume-container .download-btn img {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
  }
  .resume-container .download-btn:hover {
    background-color: rgb(25, 25, 45);
  }
  .resume-container .download-btn:hover a {
    color: white;
  }
  .resume-container .resume-illustration {
    width: 45rem;
    height: auto;
  }
}
.navbar-container {
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.navbar-container .language-btn {
  width: 6rem;
  height: 6rem;
  position: fixed;
  top: 6rem;
  left: undefined;
  right: 0;
  bottom: 0;
  margin-right: 1rem;
  cursor: pointer;
}
.navbar-container .displayed {
  display: none;
}
.navbar-container .background-layer {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(230, 230, 255, 0.92);
  transition: all 0.8s ease;
  visibility: hidden;
  opacity: 0;
}
.navbar-container .expand {
  visibility: visible;
  opacity: 1;
}
.navbar-container .top-container {
  width: 100vw;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  z-index: 10;
  background-color: rgb(25, 25, 45);
}
.navbar-container .top-container div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-left: 2rem;
}
.navbar-container .top-container div .profil-photo {
  width: 4.4rem;
  height: 4.4rem;
  background-image: url("../assets/shared/profil.jpg");
  background-position: center;
  background-size: cover;
  display: none;
}
.navbar-container .top-container div .navbar-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  color: white;
  font-family: Source Code Pro;
  font-weight: 300;
  font-size: 2.2rem;
  font-style: normal;
  letter-spacing: 0.2rem;
}
.navbar-container .top-container .menu-btn {
  width: 4rem;
  height: 4rem;
  display: block;
  margin-right: 2rem;
}
.navbar-container .links-container-wrapped {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  position: fixed;
  top: -24rem;
  left: 0;
  right: undefined;
  bottom: undefined;
  z-index: -1;
  background-color: rgb(24, 24, 45);
  visibility: hidden;
  transition: all 0.4s ease;
  box-shadow: 0px 8px 21px -2px rgba(24, 29, 66, 0.88);
}
.navbar-container .links-container-wrapped .link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: 6rem;
  color: white;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.5rem;
  font-style: normal;
  padding-left: 2rem;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}
.navbar-container .links-container-wrapped .wrap-menu-btn {
  width: 100%;
  height: 6rem;
  text-align: center;
}
.navbar-container .expand {
  visibility: visible;
  top: 6rem;
}

@media only screen and (min-width: 650px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    background-color: rgb(25, 25, 45);
  }
  .navbar-container .top-container {
    width: 40%;
    height: 6rem;
  }
  .navbar-container .top-container div .navbar-title {
    font-size: 2.5rem;
    padding-left: 2rem;
  }
  .navbar-container .top-container .menu-btn {
    display: none;
  }
  .navbar-container .links-container-wrapped {
    display: none;
  }
  .navbar-container .links-container-unwrapped {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding-right: 2rem;
  }
  .navbar-container .links-container-unwrapped .link {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    color: white;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2rem;
    font-style: normal;
    position: relative;
  }
  .navbar-container .links-container-unwrapped .link .selector {
    width: 100%;
    height: 0.4rem;
    position: absolute;
    top: undefined;
    left: 0;
    right: undefined;
    bottom: 0;
    background-color: white;
    display: none;
  }
  .navbar-container .links-container-unwrapped .link .selected {
    display: block;
  }
}
@media only screen and (min-width: 1025px) {
  .navbar-container .top-container div .navbar-title {
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
    padding: 0 0 0 5rem;
  }
  .navbar-container .links-container-unwrapped {
    padding: 0 6rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
  }
  .navbar-container .links-container-unwrapped .link {
    font-size: 2rem;
  }
  .navbar-container .language-btn {
    margin: 1rem 5rem 0 0;
    cursor: pointer;
  }
}
footer {
  width: 100vw;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  background-color: rgb(24, 24, 45);
  padding: 0 1rem 0 1rem;
  box-shadow: 0px -14px 48px 0px rgba(24, 24, 45, 0.55);
  margin-top: 2rem;
}
footer p {
  color: white;
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.2rem;
  font-style: normal;
}
footer a {
  color: white;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.3rem;
  font-style: normal;
}

@media only screen and (min-width: 650px) {
  footer {
    padding: 0 2rem 0 2rem;
  }
  footer p {
    color: white;
    font-family: Poppins;
    font-weight: 300;
    font-size: 1.5rem;
    font-style: normal;
  }
  footer a {
    color: white;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.8rem;
    font-style: normal;
  }
}
@media only screen and (min-width: 1025px) {
  footer {
    margin-top: 4rem;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */