@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Noto+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Code+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

html {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-attachment: fixed;
  color: rgb(33, 33, 33);
}

.link, a {
  text-decoration: none;
  color: rgb(33, 33, 33);
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

button {
  cursor: pointer;
}

.page-section-title {
  font-size: 2.4rem;
  margin: 3rem 0 3rem 0;
}

.visible {
  opacity: 1;
}

h2 {
  font-size: 2rem;
}

.round {
  border-radius: 50%;
}

.home-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  min-height: 100vh;
}
.home-container .home-header {
  width: 100vw;
  height: 40rem;
  background-image: url("../assets/home/home-header-mobile.jpg");
  background-position: top;
  background-size: cover;
  box-shadow: 0px 8px 21px -2px rgba(24, 29, 66, 0.88);
}
.home-container .home-content {
  width: 100vw;
  height: 100%;
  background-image: url("../assets/home/abstract-pattern.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1.5rem 2rem 1rem;
}
.home-container .home-content h1 {
  color: rgb(15, 15, 35);
  font-family: Roboto;
  font-weight: bold;
  font-size: 2.5rem;
  font-style: italic;
  text-transform: uppercase;
}
.home-container .home-content .subtitle {
  color: rgb(15, 15, 35);
  font-family: Poppins;
  font-weight: 300;
  font-size: 2rem;
  font-style: italic;
}
.home-container .home-content .home-description {
  color: rgb(15, 15, 35);
  font-family: Roboto;
  font-weight: 300;
  font-size: 2rem;
  font-style: normal;
  line-height: 3.2rem;
  max-width: 80%;
  text-align: center;
}
.home-container .home-content .portrait-photo {
  width: 17rem;
  height: 17rem;
  background-image: url("../assets/shared/profil.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 25px 38px -6px rgba(5, 2, 38, 0.7);
}
.home-container .language-icons {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.home-container .language-icons .language-icon {
  width: 20%;
  height: 20%;
  max-width: 8rem;
}
.home-container .icon-links-container {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem 0 2rem 0;
}
.home-container .icon-links-container .icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
  border: 2px solid rgb(25, 25, 45);
  border-radius: 1.2rem;
  padding: 0.4rem 1rem;
  max-width: 30rem;
  min-width: 30rem;
}
.home-container .icon-links-container .icon-link p {
  font-size: 1.8rem;
  font-family: "Source Code Pro";
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container .icon-links-container .icon-link img {
  width: 4rem;
}

footer {
  width: 100vw;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(24, 24, 45);
  padding: 0 1rem 0 1rem;
  box-shadow: 0px -14px 48px 0px rgba(24, 24, 45, 0.55);
  margin-top: 2rem;
}
footer p {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
}
footer a {
  color: white;
}

@media only screen and (min-width: 650px) {
  .home-container .home-header {
    height: 50rem;
    box-shadow: 0px 8px 21px -2px rgba(24, 29, 66, 0.95);
    background-image: url("../assets/home/home-header-tablet.jpg");
    background-position: bottom;
    background-size: cover;
  }
  .home-container .home-content .portrait-photo {
    width: 25rem;
    height: 25rem;
  }
}
@media only screen and (min-width: 1025px) {
  .home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    height: 100vh;
    width: 99vw;
  }
  .home-container .home-header {
    background-image: url("../assets/home/home-header-desktop.png");
    background-position: top;
    box-shadow: none;
    width: 40%;
    height: 100vh;
  }
  .home-container .home-content {
    width: 60%;
    height: 100vh;
    background-image: url("../assets/home/abstract-pattern-desktop.jpg");
    justify-content: center;
    padding-top: 7rem;
  }
  .home-container .home-content .subtitle {
    font-size: 3rem;
  }
  .home-container .home-content h1 {
    font-size: 3.5rem;
  }
  .home-container .home-content .home-description {
    font-size: 2.2rem;
    max-width: 70%;
  }
  .home-container .home-content .portrait-photo {
    width: 35rem;
    height: 35rem;
    max-width: 35rem;
  }
  .home-container .language-icons {
    margin: 3rem 0 3rem 0;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
  }
  .home-container .language-icons .language-icon {
    width: 20%;
    max-width: 10rem;
  }
  .home-container .icon-links-container {
    margin: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 20rem;
  }
  .home-container .icon-links-container .icon-link {
    cursor: pointer;
    transition: all 0.4s ease-out;
  }
  .home-container .icon-links-container .icon-link p {
    cursor: pointer;
  }
  .home-container .icon-links-container .icon-link img {
    width: 4rem;
    cursor: pointer;
  }
  .home-container .icon-links-container .icon-link:hover {
    background-color: rgb(15, 15, 35);
    color: white;
    font-weight: 300;
  }
}
.projects-container {
  padding-top: 8rem;
  max-width: 160rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.projects-container header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 0 2rem 0 2rem;
}
.projects-container header .page-title {
  font-family: "Roboto";
  font-size: 2.4rem;
  color: rgb(25, 25, 45);
}
.projects-container header .header-description {
  font-size: 1.5rem;
  font-family: "Roboto";
  line-height: 2.4rem;
  color: rgb(25, 25, 45);
}
.projects-container .selector-container {
  height: 5rem;
}
.projects-container .selector-container .selector-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(25, 25, 45, 0.8);
  border-radius: 0.6rem;
  width: 25rem;
  height: 5rem;
  padding: 0 0.5rem 0 1rem;
}
.projects-container .selector-container .selector-box .selected-value {
  font-size: 1.5rem;
  font-style: italic;
}
.projects-container .selector-container .selector-box .selector-arrow {
  width: 4rem;
  height: 4rem;
  transition: all 0.4s ease;
}
.projects-container .selector-container .selector-box .rotate {
  transform: rotate(180deg);
}
.projects-container .selector-container .values {
  height: auto;
  margin-top: 0.5rem;
  border: 1px solid rgba(25, 25, 45, 0.8);
  border-radius: 0.6rem;
  opacity: 0;
  transition: opacity 0.3s linear;
  background-color: white;
}
.projects-container .selector-container .values .value {
  font-size: 1.5rem;
  padding: 1rem;
  border-bottom: 1px solid rgba(25, 25, 45, 0.1);
}
.projects-container .selector-container .expand {
  opacity: 1;
}
.projects-container .header-image {
  z-index: -1;
  width: 50%;
}
.projects-container .projects-section {
  width: 100%;
  height: auto;
}
.projects-container .projects-section h2 {
  text-transform: uppercase;
  margin: 0 0 1rem 2rem;
}
.projects-container .projects-section .project {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.projects-container .projects-section .project .name {
  font-size: 2.2rem;
}
.projects-container .projects-section .project .label {
  font-size: 1.8rem;
}
.projects-container .projects-section .project .description {
  font-size: 1.4rem;
}
.projects-container .projects-section .project .project-image {
  width: 100%;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.8rem;
}
.projects-container .projects-section .project .link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.projects-container .projects-section .project .link-container p {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.projects-container .projects-section .project .link-container .project-link {
  height: 4rem;
  padding: 0.4rem 0 0.4rem 0;
  margin-top: 0.5rem;
  min-width: 14rem;
  text-align: center;
  border-radius: 0.6rem;
  color: white;
  background-color: rgba(25, 25, 45, 0.8);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.projects-container .projects-section .project .link-container .project-link img {
  width: 3.5rem;
}
.projects-container .projects-section .project .link-container .deploy {
  background-color: transparent;
  color: rgb(25, 25, 45);
  font-size: 1.4rem;
  font-family: "Source Code Pro";
  border: 2px solid rgb(25, 25, 45);
}

@media only screen and (min-width: 650px) {
  .projects-container header {
    margin-top: 2rem;
    gap: 2rem;
  }
  .projects-container header .page-title {
    font-size: 3rem;
  }
  .projects-container header .header-description {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .projects-container .header-image {
    width: 15%;
    align-self: flex-end;
    margin-right: 5rem;
    display: none;
  }
  .projects-container .selector-container {
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 100%;
    padding: 0 2rem 0 2rem;
    display: flex;
    gap: 1rem;
  }
  .projects-container .selector-container .selector-box {
    width: 48%;
  }
  .projects-container .selector-container .selector-box .selected-value {
    font-size: 2rem;
  }
  .projects-container .selector-container .values {
    margin: 0;
    width: 50%;
  }
  .projects-container .projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem 0 1rem;
    margin-top: 14rem;
  }
  .projects-container .projects-section h2 {
    font-size: 2.5rem;
    margin: 0 0 0 2rem;
    width: 100%;
  }
  .projects-container .projects-section .project {
    width: 48%;
    padding: 2rem;
    border-radius: 0.6rem;
  }
  .projects-container .projects-section .project .project-image {
    width: auto;
    height: 25rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .projects-container .projects-section .project .link-container {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1025px) {
  .projects-container {
    width: 99vw;
  }
  .projects-container header {
    margin-top: 2rem;
    gap: 2rem;
    width: 100%;
    padding: 0 3rem 0 3rem;
  }
  .projects-container header .page-title {
    font-size: 3rem;
  }
  .projects-container header .header-description {
    font-size: 2.4rem;
    line-height: 3rem;
    max-width: 75%;
  }
  .projects-container .header-image {
    width: 20%;
    position: relative;
    left: -20rem;
    top: -5rem;
    display: none;
  }
  .projects-container .selector-container .selector-box {
    width: 34rem;
  }
  .projects-container .selector-container .selector-box .selector-arrow {
    cursor: pointer;
  }
  .projects-container .selector-container .values {
    width: 34rem;
  }
  .projects-container .selector-container .values .value {
    height: 5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
  }
  .projects-container .selector-container .values .value:hover {
    background-color: rgba(25, 25, 45, 0.8);
    color: white;
  }
  .projects-container .projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem 0 1rem;
    margin-top: 20rem;
  }
  .projects-container .projects-section h2 {
    font-size: 2.5rem;
    margin: 0 0 0 2rem;
    width: 100%;
  }
  .projects-container .projects-section .project {
    width: 31%;
    padding: 2rem;
    border-radius: 0.6rem;
    z-index: 0;
  }
  .projects-container .projects-section .project .link-container {
    justify-content: space-between;
    cursor: pointer;
  }
  footer {
    width: 100%;
  }
}
.contact-container {
  width: 100vw;
  height: 100vh;
  max-width: 160rem;
  padding-top: 8rem;
}

.navbar-container {
  z-index: 10;
  width: 100vw;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
}
.navbar-container .background-layer {
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(230, 230, 255, 0.8);
  transition: all 0.8s ease;
  visibility: hidden;
  opacity: 0;
}
.navbar-container .expand {
  visibility: visible;
  opacity: 1;
}
.navbar-container .top-container {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 6rem;
  background-color: rgb(25, 25, 45);
  color: white;
}
.navbar-container .top-container div {
  display: flex;
  padding-left: 1rem;
}
.navbar-container .top-container div .profil-photo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-image: url("../assets/shared/profil.jpg");
  background-position: center;
  background-size: cover;
}
.navbar-container .top-container div .navbar-title {
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 1rem;
  font-family: "Source Code Pro";
}
.navbar-container .top-container .menu-btn {
  width: 4rem;
  height: 4rem;
  display: block;
  margin-right: 2rem;
  cursor: pointer;
}
.navbar-container .links-container-wrapped {
  z-index: -1;
  position: fixed;
  top: -24rem;
  left: 0;
  width: 100vw;
  height: auto;
  background-color: rgb(24, 24, 45);
  flex-direction: column;
  display: flex;
  visibility: hidden;
  transition: all 0.4s ease;
  box-shadow: 0px 8px 21px -2px rgba(24, 29, 66, 0.88);
}
.navbar-container .links-container-wrapped .link {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1.5rem 1rem 1.5rem 1rem;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  height: 6rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.navbar-container .links-container-wrapped .wrap-menu-btn {
  padding: 0rem 1rem 1.5rem 1rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.navbar-container .expand {
  visibility: visible;
  top: 6rem;
}

@media only screen and (min-width: 650px) {
  .navbar-container {
    width: 100vw;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(25, 25, 45);
  }
  .navbar-container .top-container {
    width: 40%;
    height: 7rem;
    background-color: transparent;
  }
  .navbar-container .top-container .navbar-title {
    font-size: 2.4rem;
    padding: 0 2rem 0 2rem;
  }
  .navbar-container .top-container .menu-btn {
    display: none;
  }
  .navbar-container .links-container-wrapped {
    display: none;
  }
  .navbar-container .links-container-unwrapped {
    width: auto;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    padding-right: 2rem;
  }
  .navbar-container .links-container-unwrapped .link {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    padding: 1.5rem 1rem 1.5rem 1rem;
    height: 7rem;
    display: flex;
    align-items: center;
    position: relative;
  }
  .navbar-container .links-container-unwrapped .link .selector {
    position: absolute;
    width: 100%;
    height: 0.4rem;
    background-color: white;
    bottom: 0;
    left: 0;
    display: none;
  }
  .navbar-container .links-container-unwrapped .link .selected {
    display: block;
  }
}
@media only screen and (min-width: 1025px) {
  .navbar-container {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar-container .top-container div {
    padding: 0;
    margin-left: 5rem;
  }
  .navbar-container .top-container div .navbar-title {
    font-size: 2.4rem;
    padding: 0 3rem 0 3rem;
  }
  .navbar-container .top-container div .menu-btn {
    display: none;
  }
  .navbar-container .links-container-wrapped {
    display: none;
  }
  .navbar-container .links-container-unwrapped {
    padding: 0;
    margin-right: 5rem;
  }
}/*# sourceMappingURL=main.css.map */